$fontSize: 20px;
$paddingSize: 10px;
$color-red: #af2121;
$color-white: rgb(243, 235, 235);
$color-backgroundLogo: rgba(255, 248, 220, 0.527);
$color-grey: rgb(44, 44, 44);
$myBorder: 1px solid black;
body{
    //RESETEA EL BODY
    margin :0px;
    padding: 0px;
}
ol{
    list-style-type: none;
    line-height: 25px;
    //padding-left: 2px;
    padding-left: 0px;
}
ul{
    /* Interlineado y sangria */
    list-style-type: none;
    line-height: 25px;
    //padding-left: 2px;
    padding-left: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
hr{margin: 9px 0px;}
.text-title{
    margin-left: 15%;
    // border : $myBorder;
}
a:hover{
    text-decoration: none; //quita decoracion
}
.navBar{
    //define nav
    display: flex;
    height: 100px;
    background-color: $color-grey;
}
.footerBar{
    @extend .navBar; //usa las cualidades del navBar
    height: 75px;
    justify-content: space-around;
}

.footerLinksContainer{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.footerBar-nav{
    display: flex;
    width: auto;
    height: 550px;
    background-color: $color-grey;
    h3{
        color: $color-white;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    a{
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        color: $color-white;
    }
    p{
        margin: 0px;
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        color: $color-white;
    }
    li{ padding: 5px 0px;}
    li ol a{
        color:$color-white;
        padding-left: 10px;
        font-size: 20px;
    }
}
.redBlock{ //define las caracteristicas del bloque roo
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 20px 0px;
    background-color: $color-red;
}

.mainImage{ //la imagen principal
    @extend body;
    display: flex;
    height: 100%;
    width: 100%;
    animation-duration: 3s;
    animation-name: aparecer;
}
.paralaxImage{
    width: auto;
    min-height: 500px; 
    //background-image: url(../Imagenes/edificios3_opt.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 3s;
    animation-name: aparecer;
}
//EFECTOS PARALAX PARA CADA PANTALLA
.paralax-index{
    @extend .paralaxImage;
    background-image: url(../Imagenes/Captura2.jpg);
}
.paralax-main{
    @extend .paralaxImage;
    background-image: url(../Imagenes/Captura2.jpg);
}
.paralax-empresa{
    @extend .paralaxImage;
    background-image: url(../Imagenes/edificios3_opt.jpg);
}
.paralax-novedades{
    @extend .paralaxImage;
    background-image: url(../Imagenes/Ciudad_opt.jpg);
}
.paralax-proyectos{
    @extend .paralaxImage;
    background-image: url(../Imagenes/Maqueta.jpg);
}
.paralax-contacto{
    @extend .paralaxImage;
    background-image: url(../Imagenes/edificios5_opt.jpg);
}
//--------------------------
.links{ //marca el formato de los links
    text-decoration: none;
    color: $color-white;
    margin-top: 70px;
}

.links:hover{ //que cambie de color
    transform: scale(1.3 );
    color: $color-red;
}

.links--footer{ //links para el footer
    @extend .links;
    margin-top: 20px;
}

.links--footer:hover{
    //cambia el color
    transform: scale(1.1);
    color: $color-red;
}

.linksFooter2{
    text-decoration: none;
    color: $color-white;
}
.linksFooter2:hover{
    transform: scale(1.1);
    color: $color-red;
}
.linksContainer{
    width: 500px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.flexColumn{ //DISTRIBUCION INTERIOR EN COLUMNA
    display: flex;
    flex-direction: column;
}

.flexRow{ //DISTRIBUCION INTERIOR EN FILA
    display: flex;
    flex-direction: row;
}

.logoBackground{
    /* Recuadro semi translucido de fondo del texto flotante */
    display: flex;
    background-color: $color-backgroundLogo;
    height: 132px;
    width: 600px;
    border-radius: 5px;
}
.floatingWord{ //CLASE PARA LA PALABRA FLOTANTE SOBRE LA IMAGEN PRINCIPAL
    display: flex;
    position: absolute;
    //POSICION EN EL CENTRO
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //FONDO DE COLOR
    background-color: $color-backgroundLogo;
    height: 132px;
    width: 600px;
    border-radius: 5px;
    h2{
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
    img{
        margin: 0px auto;
    }
}
.imageFloat{
    /* imagen flotannte sobre otra */
    display: flex;
    position: absolute;
    top: 60%;
    left: 30%;
    animation-duration: 3s;
    animation-name: aparecer;
}

.boxesAreas{
    /* define el espacio que va a ser usado por cajas */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
}

.box{
    //establece las propiedades de las cajas
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    height: 300px;
    margin: 0px 20px;
    transition: transform 1s;
}
.box:hover{
    transform: scale(1.05);
}

.box--contacto{ //box especifico para contacto
    @extend .box;
    width: 500px;
}
.imageArea{
    //contenedor de bloques de imagenes
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imageQuad{
    //bloque con imagenes
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 260px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}
.textBox{
    margin: 80px 100px;
}
.text-white{
    color: $color-white;
}

.text-black{
    color: black;
}

.textCenter{
    text-align: center;
}
//hr personalizados
.myHr{
    background-color: black;
    width: 80%;
    margin: 9px auto;
}
.hr-none{
    width: 0%;
    border-width: 0px;
    color: none;
}
.hr-shadow{
    border-width: 0px;
    background-color: blue;
    box-shadow: 0px 0px 10px  black;
}
//clase para la line difuminada
.shadowLine{
    margin: 5px auto;
    height: 0.5px;
    width: 95%;
    box-shadow: 0px 1px 3px black;
    background-color: rgba(0, 0, 0, 0.705);
}
.form-Label-Normal{
    height: 20px;
    border-radius: 5px;
}
//funciones para centrar
.center-horizontal{
    margin: 0px auto;
}
.center-vertical{
    margin: 50% 0px;
}
.center-total{
    margin: auto;
}
@for $i from 1 through 3 {
    .fontSize-#{$i} {font-size: $fontSize*$i;} //crea 3 clases con tamaños de letra diferentes
}

@for $i from 1 through 3 {
    .padding-#{$i}{padding: 0px $paddingSize*$i;} //crea 3 clases con tamaños de padding diferentes
}

@for $i from 1 through 3 {
    .margin-#{$i}{margin: 0px $paddingSize*$i;} //crea 3 clases con tamaños de margin diferentes
}

@for $i from 1 through 3 {
    .margin-top-#{$i}{margin-top: $paddingSize*$i;} //crea 3 clases con tamaños de margin-top diferentes
}
@for $i from 1 through 3 {
    .margin-left-#{$i}{margin-left: $paddingSize*$i;} //crea 3 clases con tamaños de padding-left diferentes(sangria)
}
@each $elem in normal, bold, italic{
    .font-#{$elem} {
        font-family: 'Rubik', sans-serif;     //3 tipos de letra
        font-style: $elem;}
}

@each $elem in center, space-around, space-between {
    .flex#{$elem} {display: flex; justify-content: #{$elem};} //crea 3 clases con tipos de espaciados en flex diferentes
}
//REESCALA OBJETOS (PRINCIPALMENTE USADA EN IMAGES)
@mixin re-size($height, $width){
    height: $height;
    width: $width;

}

@mixin reSize($heigt, $width) {
    height: $heigt;
    width: $width;
}
.image-small{
    @include reSize(200px, 300px);
}

.fotoEmpresa{
    @include reSize(200px, 300px);
}
.fotoSeguridad{
    @include reSize(200px, 300px);
}
//GRID DE LA PAGINA 'EMPRESA'
.gridEmpresa{
    display: grid;
    grid-template-areas: 
    "empresa empresa fotoEmpresa"
    "fotoEquipo equipo equipo"
    "oficina oficina fotoOficina";
    grid-template-columns: repeat(3, 33,3%);
    grid-template-rows: repeat(3, 300px);
    margin: 40px;
}

@each $elem in empresa, fotoEmpresa, equipo, fotoEquipo, oficina, fotoOficina{
    .grid-#{$elem} {grid-area: $elem;}
}
//GRID DE LA PAGINA 'CONTACTO'
.gridContacto{
    display: grid;
    grid-template-areas: 
    "oficinas formulario"
    "telefonos formulario"
    "redes formulario";
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 200px);
    padding: 60px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@each $elem in oficinas, telefonos, redes, formulario{
    .grid-contacto-#{$elem} {
        grid-area: $elem;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 4px 4px 10px black;
        //height: 200px;
        margin: 0px 20px;
    }
}
//ETIQUETAS LABEL DEL FORMULARIO DE CONTACTO
.label-1{
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s;
}
.label-1:focus{
    height: 30px;
}
.label-2{
    height: 80px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s;
}
.label-2{
    height: 100px;
}
.button{
    position: relative;
    text-decoration: none;
    background-color: $color-grey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 10px 30px;
    left: 30%;
}

.button:hover{
    background-color: $color-red;
}
// INCONO FLOTANTE DE WHATSAPP 
.whatsAppIcon{
    position: fixed;
    right: 5%;
    top: 80%;
    transition: transform 0.5s;
    animation-duration: 1.5s;
    animation-name: sacudir;
    img{
        @include reSize(100,100px)
    }
}
.whatsAppIcon:hover{
    transform: scale(1.1);
}
// FUNCION MULETILLA -> SE AGREGA AL MAQUETAR EL HTML PARA VER LA EXTENCION DE UN OBJ
// DESPUES SE LE QUITA EL VALOR Y LISTO
.showBorder{
    //border: 1px solid black;
    border:none;
}
.image-text{
    display: flex;
    flex-direction: row;
}
.separator{
    height: 200px;
    width: auto;
}
.emptyBox{
    width: auto;
    height: 600px;
    display: flex;
}
.text-alling-center{
    text-align: center;
}
.color-grey{
    color: $color-grey;
}
// ANIMACIONES
@keyframes aparecer{
    0% {opacity: 0;}
    100%{opacity: 1;}
}
@keyframes sacudir{
    0%{}
    80%{transform: rotate(0deg);}
    85%{transform: rotate(45deg);}
    90%{transform: rotate(-90deg);}
    95%{transform: rotate(90deg);}
    100%{transform: rotate(-45deg);}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
//                                            TABLET
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 800px){
    .navBar{
        display: flex;
        height: 150px;
        background-color: $color-grey;
        flex-direction: column;
    }
    .linksContainer{
        display: flex;
        justify-content: space-around;
        width: auto;
        padding-bottom: 10px;
    }
    .links{
        margin-top: 20px;
    }
    .footerBar{
        height: 150px;
    }
    .footerLinksContainer{
        display: flex;
        flex-direction: column;
        //border: 1px solid white;
    }
    .links--footer{
        text-decoration: none;
        color: $color-white;
        margin: 0px;
        padding: 0px;
    }
    //.links{display: none;}
    //.linksContainer{display: none;}
    .imageFloat{display: none;}
    .logoBackground{display: none;}

    .boxesAreas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        padding: 30px;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 4px 4px 10px black;
        max-width: 300px;
        height: 300px;
        margin: 20px auto;
    }
    .box--bs{
        margin: 0px auto 20px auto;
    }
    .gridEmpresa{
        display: grid;
        grid-template-areas: 
        "empresa"
        "fotoEmpresa"
        "equipo"
        "fotoEquipo"
        "oficina"
        "fotoOficina";
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 300px);
    }
    .grid-fotoEmpresa{
        margin: auto;
    }
    .grid-fotoEquipo{
        margin: auto;
    }
    .grid-fotoOficina{
        margin: auto;
    }
    .gridContacto{
        display: grid;
        grid-template-areas:"oficinas" "telefonos" "redes" "formulario" "formulario" ;
        grid-template-columns: 400px;
        grid-template-rows: repeat(5, 200px);
        padding: 60px;
        grid-row-gap: 20px;
    }
    .image-text{
        display: flex;
        flex-direction: column;
    }
    .text-title{
        margin: 0px auto;
    }
    .textBox{
        margin: 20px;
    }
    .imageArea{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imageQuad{
     margin: 10px auto;
    }
    .floatingWord{
        width: 350px;
    }
}
//--------------------------------------------------------------------------------------------------------------------------
//              MOBILE
//--------------------------------------------------------------------------------------------------------------------
@media (max-width: 400px){
    
    .links{
        font-size: $fontSize*0.7;
    }
    .gridEmpresa{
        display: grid;
        grid-template-areas: 
        "empresa"
        "empresa"
        //"empresa"
        "fotoEmpresa"
        "equipo"
        "equipo"
        //"equipo"
        "fotoEquipo"
        "oficina"
        "oficina"
        //"oficina"
        "fotoOficina";
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 210px);
    }
    .gridContacto{
        display: grid;
        grid-template-areas: 
        "oficinas"
        "telefonos"
        "redes"
        "formulario"
        "formulario";
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 200px);
        //margin: 40px;
        padding: 20px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .imageFloat{
        /* imagen flotannte sobre otra */
        display: flex;
        position: absolute;
        top: 30%;
        left: 10%;
        height: 100px;
        width: 300px;
    }
    .fontSize-2{
        font-size: $fontSize*1.5;
    }
    .gridContacto{
        display: grid;
        grid-template-areas:"oficinas" "telefonos" "redes" "formulario" "formulario" ;
        grid-template-columns: 350px;
        grid-template-rows: repeat(5, 200px);
        //margin: 40px;
        //padding: 60px;
        //grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .margin-3{
        margin: $paddingSize*1.5;
    }
    .navBar{
        display: flex;
        height: 150px;
        width: auto;
        background-color: $color-grey;
        flex-direction: column;
    }
    .image-text{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .imageArea{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imageQuad{
     margin: 10px auto;
    }
    .emptyBox{
        width: 98%;
    }
    .floatingWord{ //display: none;
        width: 250px;
        height: 100px;
        img{
            @include reSize(70px, 196px );
            margin: auto;
        }
    }
    .whatsAppIcon{ display: none;}
    .logoPolux{
        width: 100%;
        height: auto;
    }
}